@using NLightning.Bolts.BOLT11
@inherits LayoutComponentBase

<NavMenu/>
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <main class="bd-main order-1">
        @Body
    </main>
</div>
<footer class="bd-footer py-2 py-md-3 mt-3 bg-body-tertiary">
    <div class="container py-2 py-md-3 px-2 px-md-1 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-1">
                Níckolas Goline © 2024 - 2025 | v
            </div>
        </div>
    </div>
</footer>

@code{
    protected override void OnInitialized()
    {
        // Warmup call to load needed wasm in memory
        _ = Task.Run(() =>
        {
            // Decode a minimal invoice
            return _ = Invoice.Decode("lnbc27070n1pn2z35npp56qhmnjr8kj5ufrjna5z7vssj2w656n08hyu2mx9h4fujclagja8qdqqcqzzgxqyz5vqrzjqwnvuc0u4txn35cafc7w94gxvq5p3cu9dd95f7hlrh0fvs46wpvhdygzdvy829w5ryqqqqryqqqqthqqpysp5hn54f6556pn9yjvakannw32qq797vqnzsgt2h05ptrkhy7dj72ns9qrsgqupw0qf4n36jtqxux0992ltmux3qrlvhfmc23xgmgpp854nzejjgnaeekctp8dmh4682alrythcuv72pdahxgevfhdw7wvu9u5zugelspz25zl7");
        });
    }
}